@font-face {
  font-family: cubao;
  src: url(fonts/Cubao_Free_Regular.otf);
}

body {
  background: rgb(33, 33, 33);
  background-image: linear-gradient(306deg, rgba(0, 0, 0, .5) 0%, rgb(65, 65, 65, .5) 50%, rgb(0, 0, 0, .5) 100%), url("images/carbon_fibre.png");
}

h2 {
  text-align: center;
  font-family: cubao;
}

h6 {
  text-align: center;
}

.navbar-brand {
  font-family: cubao;
}

.navbarBg {
  background-color: rgb(27, 27, 27);
}

.padCont {
  padding: 20px 0 0 0;
}

.padImage {
  padding: 20px;
}

.svgTextLogo {
  width: 80%;
  height: auto;
  position: relative;
  display: block;
  margin: auto;
}

.textLogoPos {
  margin-top: 20vh;
}

.container {
  padding-top: 50px;
}

#lineAppostA {
  fill: none;
  stroke: #ffffff;
  stroke-width: 3;
  stroke-miterlimit: 10;
  stroke-dasharray: 3000;
  stroke-dashoffset: 3000;
  animation: draw 2s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

#lineB {
  fill: none;
  stroke: #ffffff;
  stroke-width: 3;
  stroke-miterlimit: 10;
  stroke-dasharray: 3000;
  stroke-dashoffset: 3000;
  animation: draw 2s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

#lineE {
  fill: none;
  stroke: #ffffff;
  stroke-width: 3;
  stroke-miterlimit: 10;
  stroke-dasharray: 3000;
  stroke-dashoffset: 3000;
  animation: draw 2s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

#lineA {
  fill: none;
  stroke: #ffffff;
  stroke-width: 3;
  stroke-miterlimit: 10;
  stroke-dasharray: 3000;
  stroke-dashoffset: 3000;
  animation: draw 2s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

#lineR {
  fill: none;
  stroke: #ffffff;
  stroke-width: 3;
  stroke-miterlimit: 10;
  stroke-dasharray: 3000;
  stroke-dashoffset: 3000;
  animation: draw 2s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

#lineAppostB {
  fill: none;
  stroke: #ffffff;
  stroke-width: 3;
  stroke-miterlimit: 10;
  stroke-dasharray: 3000;
  stroke-dashoffset: 3000;
  animation: draw 2s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

#lineD {
  fill: none;
  stroke: #ffffff;
  stroke-width: 3;
  stroke-miterlimit: 10;
  stroke-dasharray: 3000;
  stroke-dashoffset: 3000;
  animation: draw 2s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

#lineStuff {
  fill: none;
  stroke: #ffffff;
  stroke-width: 3;
  stroke-miterlimit: 10;
  stroke-dasharray: 10000;
  stroke-dashoffset: 10000;
  animation: draw 2s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

#fillAppostA {
  fill-opacity: 0;
  fill: white;
  animation: show 1.8s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

#fillB {
  fill-opacity: 0;
  fill: white;
  animation: show 2s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

#fillE {
  fill-opacity: 0;
  fill: white;
  animation: show 2s;
  animation-delay: 3.2s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

#fillA {
  fill-opacity: 0;
  fill: white;
  animation: show 2s;
  animation-delay: 3.4s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

#fillR {
  fill-opacity: 0;
  fill: white;
  animation: show 2s;
  animation-delay: 3.6s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

#fillAppostB {
  fill-opacity: 0;
  fill: white;
  animation: show 2s;
  animation-delay: 3.8s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

#fillD {
  fill: none;
  fill-opacity: 0;
  stroke: white;
  stroke-opacity: 0;
  stroke-width: 15;
  animation: show 2s;
  animation-delay: 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

#fillStuff {
  fill-opacity: 0;
  fill: white;
  animation: show 2s;
  animation-delay: 3.8s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

.svgBearLogo {
  max-width: 60%;
  max-height: 80%;
  position: absolute;
  top: 30px;
  left: 1%;
  z-index: -1;
}

#lineHead {
  fill: none;
  stroke: #ffffff;
  stroke-width: .25;
  stroke-miterlimit: 10;
  stroke-dasharray: 3000;
  stroke-dashoffset: 3000;
  animation: draw 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

#lineStache {
  fill: none;
  stroke: #ffffff;
  stroke-width: .25;
  stroke-miterlimit: 10;
  stroke-dasharray: 3000;
  stroke-dashoffset: 3000;
  animation: draw 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

#lineBeard {
  fill: none;
  stroke: #ffffff;
  stroke-width: .25;
  stroke: miterlimit 10;
  stroke-dasharray: 3000;
  stroke-dashoffset: 3000;
  animation: draw 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
    opacity: 1;
  }
}

@keyframes show {
  to {
    fill-opacity: 1;
    opacity: 1;
    stroke-opacity: 1;
  }
}

.btn {
  margin-top: 20px;
  margin-bottom: 40px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  color: white;
  background-color: rgb(27, 27, 27);
}